.about {
    &__content {
        @include flex(unset, 50px);
        padding: 15px 0px 0px 0px;
        width: 940px;
        margin: auto;
        text-align: start;

        &--footer {
            @include flex(column, 10px, center, flex-start);
            margin-top: 12px;
            width: calc(100%/3);
            text-align: start;

            @include responsive(950px) {
                align-items: center;
                text-align: center;
            }

            @include responsive(520px) {
                width: 100%;
            }

        }

        @include responsive(950px) {
            flex-direction: column;
            width: 500px;
            text-align: center
        }

        @include responsive(520px) {
            width: 90%;
        }
    }

    &__footer {
        &--content {
            @include flex(unset, 10px, flex-start, flex-start);

            @include responsive(950px) {
                justify-content: center;
            }

            @include responsive(520px) {
                @include flex(column, 30px);
            }
        }
    }

    &__h2 {
        font-size: 45px;
        margin: 12px 0px;

        &--footer {
            margin: 0;
            font-size: 45px;
        }
    }

    &__h4 {
        font-size: 23px;
        font-weight: 500;
        margin: 0;
        letter-spacing: 0.5px;
    }

    &__img {
        &--content {
            width: 100%;
        }

        &--footer {
            @include size(auto, 40px);

            @include responsive(520px) {
                height: auto;
            }
        }
    }

    &__p {
        @include p-config(inherit, (25px 0), 100%);

        &--footer {
            margin: 0;
            color: map-get($colors, "font-secondary");
        }
    }
}