@import "../configs/vars";
@import "../configs/mixins";

.modal {
    @include size(100vw, 100vh);
    @include flex(initial);
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    left: -150%;
    transition: left .5s ease-in-out;

    &__iconClose {
        @include position(absolute, 30px, 20px);
        @include icon();
    }

    &__li {
        @include font-characteristics(map-get($colors, "font-primary"), 25px, 500, initial, ('Rubik', sans-serif));
        list-style: none;
        cursor: pointer;
        text-decoration: none;
        transition: all .3s;
        text-align: center;

        &:hover {
            color: #ff4d30;
        }

        @include responsiveHeight(360px) {
            font-size: 20px
        }
    }

    &__main {
        @include size(100%, 400px);
        @include flex(initial);
    }

    &__ul {
        @include size(fit-content, 100%);
        @include flex(column, 35px);
    }
}

.open {
    left: 0%;
}