@import "../configs/vars";
@import "../configs/mixins";

.navBar {
    @include size(95%, 60px);
    @include flex(initial, initial, space-between);
    max-width: 1366px;
    padding: 20px 0px;
    margin: auto;
    z-index: 500;

    &__DivSesion {
        @include flex(initial, 10px);

        @include responsive(1145px) {
            display: none;
        }
    }

    &__button {
        border: none;
        outline: none;
        background-color: transparent;
        transition: all .3s;
        @include font-characteristics(map-get($colors, "font-primary"), 16px, 500, initial, map-get($fonts, "global"));

        &:hover {
            color: map-get($colors, "primary");
        }

        &--register {
            @include btnPrimary();
        }

    }

    &__img {
        @include size(auto, 50px);
        cursor: pointer;
    }

    &__li {
        @include font-characteristics(map-get($colors, "font-primary"), 16px, 500, initial, map-get($fonts, "global"));
        list-style: none;
        cursor: pointer;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            color: map-get($colors, "primary");
        }
    }

    &__ul {
        display: flex;
        gap: 20px;

        @include responsive(1145px) {
            display: none;
        }
    }

    &__icon {
        @include icon();
        display: none;

        @include responsive(1145px) {
            display: block;
        }
    }

    &__a {
        text-decoration: none;
        @include font-characteristics(map-get($colors, "font-primary"), 16px, 500, initial, map-get($fonts, "global"));
        list-style: none;
        cursor: pointer;
        transition: all .3s;
        outline: none;

        &:hover {
            color: map-get($colors, "primary");
        }

        &:active {
            outline: none !important;
            outline-style: none !important;
        }

        &:focus {
            outline: none !important;
            outline-style: none !important;
        }
    }
}