@import "../configs/vars";
@import "../configs/mixins";

.navBar {
    @include size(95vw, 60px);
    @include flex(initial, initial, space-between);
    padding: 20px 0px;
    margin: auto;

    &__DivSesion {
        @include flex(initial, 10px);
        @include responsive(map-get($medidas, "laptop")){
            display: none;
        }
    }

    &__button {
        border: none;
        outline: none;
        background-color: transparent;
        transition: all .3s;
        @include font-characteristics(#010103, 15px, 600, initial, (Rubik, sans-serif));

        &:hover {
            color: #ff4d30;
        }

        &--register {
            @include btnPrimary();
        }
        
    }

    &__img {
        @include size(auto, 50px);
    }

    &__li {
        @include font-characteristics(#010103, 15px, 600, initial, (Rubik, sans-serif));
        list-style: none;
        cursor: pointer;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            color: #ff4d30;
        }
    }

    &__ul {
        display: flex;
        gap: 20px;
        @include responsive(map-get($medidas, "laptop")){
            display: none;
        }
    }

    &__icon{
        @include icon();
        display: none;
        @include responsive(map-get($medidas, "laptop")){
            display: block;
        }
    }
}