@import "../configs/vars";
@import "../configs/mixins";

.btn-primary {
    @include flex(initial, 10px);
    background-color: map-get($colors, "primary");
    border-radius: 3px;
    box-shadow: map-get($shadows, "btn-shadow");
    border: 2px solid map-get($colors, "primary");
    color: map-get($colors, "bg-white");
    min-width: 200px;
    width: auto;
    padding: 15px 20px;
    transition: all .3s;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

    &:hover {
        background-color: map-get($colors, "primary");
        box-shadow: map-get($shadows, "btn-primary-global");
    }

    @include responsive(map-get($medidas, "mobile-l")) {
        width: 270px;
    }
}

.btn-secondary {
    @include flex(initial, 10px);
    background-color: map-get($colors, "secondary");
    border-radius: 3px;
    color: map-get($colors, "bg-white");
    min-width: 200px;
    width: auto;
    padding: 15px 20px;
    transition: all .3s;
    border: 2px solid map-get($colors, "secondary");
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

    &:hover {
        background-color: map-get($colors, "bg-white");
        color: map-get($colors, "btn-secondary-global");
    }

    @include responsive(map-get($medidas, "mobile-l")) {
        width: 270px;
    }
}



.borderRight {
    border-right: map-get($borders, "fleet-features");
}

.w-100 {
    width: 100%;
}