@import "./configs/normalize";
@import "./components/navBar";
@import "./components/home";
@import "./configs/vars";
@import "./components/modal";
@import "./configs/mixins";
@import "./components/reserve";
@import "./components/plan";
@import "./components/fleet";
@import "./components//loader";
@import "./components/firstBanner";
@import "./components/offer";
@import "./components/testimonials";
@import "./components/questions";
@import "./components/download";
@import "./components/footer";
@import "./components/about";
@import "./components/secondBanner";
@import "./components/models";
@import "./components/ourTeam";
@import "./components/contact";
@import "./components/error";
@import "./global/global";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color: map-get($colors, "font-primary");
}

body {
  font-family: map-get($fonts, "global");
  background-color: map-get($colors, "bg-white");
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: map-get($colors, "primary");
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background-color: map-get($colors, "bg-white");
  border-radius: 5px;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}