@import "./configs/normalize";
@import "./components/navBar";
@import "./components/home";
@import "./configs/vars";
@import "./components/modal";

body{
    width: 100vw;
}

ul, li {
    margin: 0;
    padding: 0;
  }