@mixin flex ($direction, $gap:initial, $justify:center, $align:center) {
    @if $direction==column {
        display: flex;
        flex-direction: column;
        justify-content: $justify;
        align-items: $align;
        gap: $gap;
    }

    @else {
        display: flex;
        justify-content: $justify;
        align-items: $align;
        gap: $gap;
    }
}


@mixin fullSize ($minWidth, $width, $minHeight, $height) {
    min-width: $minWidth;
    width: $width;
    min-height: $minHeight;
    height: $height;
}


@mixin margin-padding($margin, $padding:0) {
    padding: $padding;
    margin: $margin;
}

@mixin grid($columns, $rows, $areas, $gap) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-template-areas: $areas;
    gap: $gap;
}


@mixin bgImage($url) {
    background-image: $url;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin font-characteristics($color, $size:initial, $weight:initial, $letter-spacing:initial, $family:unset) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    letter-spacing: $letter-spacing;
    font-family: $family;
}


@mixin borders($border, $radius) {
    border: $border;
    border-radius: $radius;
}

@mixin text-characteristics($decoration, $align:initial, $shadow:initial) {
    text-decoration: $decoration;
    text-align: $align;
    text-shadow: $shadow;
}

@mixin responsive ($width) {
    @media only screen and (max-width: $width) {
        @content;
    }
}

@mixin responsiveHeight ($height) {
    @media only screen and (max-height: $height) {
        @content;
    }
}

@mixin btnPrimary($width:115px, $height:45px) {
    background-color: map-get($colors, "primary");
    border-radius: 3px;
    box-shadow: map-get($shadows, "btn-shadow");
    color: map-get($colors, "bg-white");
    width: $width;
    height: $height;
    transition: all .3s;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

    &:hover {
        background-color: map-get($colors, "primary");
        box-shadow: map-get($shadows, "btn-primary-mixin");
    }
}

@mixin btnGray($width:115px, $height:45px) {
    background-color: map-get($colors, "btn-gray");
    color: map-get($colors, "secondary");
    width: $width;
    height: $height;
    transition: all .2s;
    border: none;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;

    &:hover {
        background-color: map-get($colors, "primary");
        color: map-get($colors, "bg-white");
    }
}

@mixin icon() {
    font-size: 30px;
    color: map-get($colors, "secondary");
    transition: .3s;

    &:hover {
        color: map-get($colors, "primary");
        cursor: pointer;
    }
}

@mixin position($position, $top:unset, $right:unset, $left:unset, $bottom:unset) {
    position: $position;
    top: $top;
    right: $right;
    left: $left;
    bottom: $bottom;
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content;
    }
}

@mixin globalConfig() {
    width: 95%;
    max-width: 1366px;
    margin: auto;
    margin-top: 120px;
}

@mixin h2-config($align:center, $margin:0) {
    text-align: $align;
    font-size: 45px;
    letter-spacing: 0.5px;
    margin: $margin;
}

@mixin h4-config() {
    text-align: center;
    text-align: center;
    font-size: 23px;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin: 0;
}

@mixin p-config($align:center, $margin:(12px auto), $width:60%, $lheight:20px) {
    text-align: $align;
    color: map-get($colors, "font-secondary");
    line-height: $lheight;
    width: $width;
    margin: $margin;
}

@mixin footerInput() {
    display: block;
    width: 100%;
    text-align: center;
    outline: none;
    border: none;
    background-color: map-get($colors, "footer-input");
    height: 45px;
    margin: 0;
    padding: 0;
    font-size: 14px;
}