$medidas:("mobile-s":320px,
    "mobile-m":375px,
    "mobile-l":425px,
    "tablet" :768px,
    "laptop" : 1024px,
    "laptop-l" : 1440px,
);

$shadows:("btn-shadow": 0 10px 15px 0 rgb(255 83 48 / 35%),
);

$colors:("primary":#ff4d30,
    "secondary" : #010103,
    "primary-dark":#e23217d3,
    "font-primary" : #010103,
);

$fonts:("title":('Poppins', sans-serif),
    "global" : ('Rubik', sans-serif),

);